<% include partials/header %>

<% characters.forEach(function(character) { %>
<article class="thumb">
	<a href="images/fulls/<%= character.recordKey %>.jpg" class="image"><img src="images/thumbs/<%= character.recordKey %>.jpg" alt="" /></a>
	<h2><%= character.name %></h2>
	<p><%= character.bio %></p>
</article>
<% }); %>

<% include partials/footer %>