<% include partials/header %>

<h1><%= title %></h1>

<form method="post" action="/users/add">
	<label>Name</label>
	<input type="text" name="name"><br>
	<label>Email</label>
	<input type="text" name="email"><br><br>
	<input type="submit" name="submit" value="submit"><br>
</form>

<ul>

	<% users.forEach(function(user) { %>
		<li>
			<%= user.name %> (<%= user.email %>)
		</li>
	<% }); %>

</ul>

<% include partials/footer %>